.app {
  font-family: sans-serif;
  align-content: center;
}
body {
background-color: #437de9;
padding-top: 80px;
}
footer {
background-color: #4C4E4D;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
}
.corpo {
text-align: center;
display: flex;
align-items: center;
}
.titolo {
font-size: 30px;
font-weight: bold;
margin: auto;
text-align: left;
}
.logIn {
position: fixed;
top: 8;
right: 8;
}
.card {
max-width: 400px;
margin: 10px auto;
}
.form {
background-color: whitesmoke;
width: 600px;
margin: auto;
padding: 20px;
text-align: center;
border-radius: 8px;
}
.form-label {
font-size: 20px;
}
.immagineCard {
display: block;
width: 100%;
}
.card-text {
font-size: 20px;
}
.card-header {
font-size: 30px;
}
.navbar {
position: fixed;
display: flex;
flex-direction: row;
top: 0;
left: 0;
width: 100%;
padding: 5px;
}
.schedaEsito {
position: center;
background-color: white;
width: auto;
margin: auto;
padding: 15px;
border-radius: 5px;
text-align: center;
max-width: 700px;
}
.aggiunta {
position: center;
background-color: white;
width: auto;
margin: auto;
padding: 15px;
border-radius: 5px;
text-align: center;
max-width: 700px;
}
.dati {
position: center;
background-color: white;
width: auto;
margin: auto;
padding: 15px;
border-radius: 5px;
text-align: center;
max-width: 1000px;
}
.pickers {
  margin-top: 10px;
}